---
/**
 * Animierte Bubble-Background-Schicht (10 Stueck).
 * Statt 10 hartcodierter <div>s + 10 `:nth-child`-CSS-Regeln werden Groesse,
 * Position und Animations-Timing als CSS-Variablen pro Bubble gesetzt.
 */
const bubbles = [
  { size: 40, left: '10%', duration: 8,  delay: 0 },
  { size: 20, left: '20%', duration: 5,  delay: 1 },
  { size: 50, left: '35%', duration: 7,  delay: 2 },
  { size: 80, left: '50%', duration: 11, delay: 0 },
  { size: 35, left: '55%', duration: 6,  delay: 1 },
  { size: 45, left: '65%', duration: 8,  delay: 3 },
  { size: 90, left: '70%', duration: 12, delay: 2 },
  { size: 25, left: '80%', duration: 6,  delay: 2 },
  { size: 15, left: '85%', duration: 5,  delay: 1 },
  { size: 60, left: '90%', duration: 10, delay: 4 },
];
---
<div class="bubbles" aria-hidden="true">
  {bubbles.map((b) => (
    <div
      class="bubble"
      style={`--size: ${b.size}px; --left: ${b.left}; --duration: ${b.duration}s; --delay: ${b.delay}s;`}
    ></div>
  ))}
</div>

<style>
  .bubble {
    width: var(--size);
    height: var(--size);
    left: var(--left);
    animation-duration: var(--duration);
    animation-delay: var(--delay);
  }
</style>
